@charset "UTF-8";

@-webkit-keyframes dep {
   /*depart*/
   0% 	 {left: 35%;top: 17.5%;  -webkit-transform:  }  
   /*depart->cp1*/
   10%   {left: 44%;top: 17.5%; -webkit-transform:   }  
   /*cp1->stop*/
   20%   {left: 54%;top: 17.5%; -webkit-transform:   }	 
   /*stop->cp2*/
   30%   {left: 61%;top: 17.5%; -webkit-transform:   }
   
   40%   {left: 61%;top: 34%; -webkit-transform:   }
   50%   {left: 61%;top: 45%; -webkit-transform:   }
   60%   {left:54.5%;top: 45%; -webkit-transform:   }
   70%   {left: 44.5%;top:45%; -webkit-transform:   }
   80%   {left:34.5%;top:45%; -webkit-transform:   }
   90%   {left:34.5%;top: 34%; -webkit-transform:   }
   
}

@-moz-keyframes dep {
   /*depart*/
   0% 	 {left: 35%;top: 17.5%;  -moz-transform:  }  
   /*depart->cp1*/
   10%   {left: 44%;top: 17.5%; -wmoz-transform:   }  
   /*cp1->stop*/
   20%   {left: 54%;top: 17.5%; -moz-transform:   }	 
   /*stop->cp2*/
   30%   {left: 61%;top: 17.5%; -moz-transform:   }
   
   40%   {left: 61%;top: 34%; -moz-transform:   }
   50%   {left: 61%;top: 45%; -moz-transform:   }
   60%   {left:54.5%;top: 45%; -moz-transform:   }
   70%   {left: 44.5%;top:45%; -moz-transform:   }
   80%   {left:34.5%;top:45%;  -moz-transform:   }
   90%   {left:34.5%;top: 34%; -moz-transform:   }
   
}



#plan{
	width:500px;
	height:300px;
	background-color: grey;
	z-index: 0;
}

#circuit{
	width:27.5%;
	height:32.5%;
	
	border: white double 10px ;
	position: absolute;
	top: 20%;
	left: 35%;
	z-index: 1;

}
#robot{
	width:20px;
	height:20px;
	background-color: blue;
	position: absolute;
	top: 17.5%;
	left: 35%;
	z-index: 2;

	-webkit-animation-name: dep; /* Chrome, Safari, Opera */
        -webkit-animation-delay: 2s;
        -webkit-animation-duration: 100s; /* Chrome, Safari, Opera */
        
    
    -moz-animation-name: dep; /* Mozilla*/
        -moz-animation-delay: 2s;
        -moz-animation-duration: 100s; /* Mozilla */
        
        animation-name: dep;
        animation-delay: 2s;
        animation-duration: 100s;
       
}

#p1{
  width:2px;
  height:2px;
  
  background-color:#bfd70e;
  border-radius:50%;

  position:absolute;
  top: 15%;
  left: 45%;
  z-index: 3;
}

#p2{
  width:2px;
  height:2px;
  
  background-color:#bfd70e;
  border-radius:50%;

  position:absolute;
  top: 14.5%;
  left: 46%;
  z-index: 3;
}


#cp1 {
	width: 0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 19%;
	left:45%;
	z-index: 3;
}

#cp2 {
	width:0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 19%;
	left:55%;
	z-index: 3;
}

#cp3 {
	width: 0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 35%;
	left:61.5%;
	z-index: 3;
}

#cp4 {
	width:0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 50%;
	left:55%;
	z-index: 3;
}

#cp5 {
	width: 0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 50%;
	left:45%;
	z-index: 3;
}

#cp6 {
	width: 0.8em;
	height: 0.8em;
	background-color: red;
	position: absolute;
	top: 35%;
	left:35%;
	z-index: 3;
}
